# __Fundamentos de Aprendizaje Automático__
## Práctica 0: _Tratamiento de datos, particionamiento y diseño preliminar de la aplicación_
### Grupo 1461
#### Pareja : Rubén Torralba Manso y Alejandro Monterrubio Navarro

##### ___Importamos lo necesario:___

In [15]:
import pandas as pd
import numpy as np
import EstrategiaParticionadoTemplate as EstrategiaParticionado
from DatosTemplate import Datos

### Memoria en jupyter para corregir los apartados de esta práctica

# __Clase Datos__

Se pide crear la clase Datos con los atributos:
* __nominalAtributos__: Indican si una columna es nominal.
* __datos__: Array en forma de matriz en el que guardamos los datos usando pandas.
* __diccionarios__: Diccionario que se ocupa de traducir los datos a números.

Definimos los nombres de los archivos a leer:

In [16]:
d1 = pd.read_csv("tic-tac-toe.csv")
d2 = pd.read_csv("german.csv")

Cargamos el dataframe 1, es decir, tic-tac-toe.csv (10 primeros datos):

In [17]:
d1.head(10)

,TLeftSq,TMidSq,TRightSq,MLeftSq,MMidSq,MRightSq,BLeftSq,BMidSq,BRightSq,Class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive
5,x,x,x,x,o,o,b,b,o,positive
6,x,x,x,x,o,b,o,o,b,positive
7,x,x,x,x,o,b,o,b,o,positive
8,x,x,x,x,o,b,b,o,o,positive
9,x,x,x,x,b,o,o,o,b,positive

Cargamos el dataframe 2, es decir, german.csv (10 primeros datos):

In [18]:
d2.head(10)

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr12,Atr13,Atr14,Atr15,Atr16,Atr17,Atr18,Atr19,Atr20,Class
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
5,A14,36,A32,A46,9055,A65,A73,2,A93,A101,...,A124,35,A143,A153,1,A172,2,A192,A201,1
6,A14,24,A32,A42,2835,A63,A75,3,A93,A101,...,A122,53,A143,A152,1,A173,1,A191,A201,1
7,A12,36,A32,A41,6948,A61,A73,2,A93,A101,...,A123,35,A143,A151,1,A174,1,A192,A201,1
8,A14,12,A32,A43,3059,A64,A74,2,A91,A101,...,A121,61,A143,A152,1,A172,1,A191,A201,1
9,A12,30,A34,A40,5234,A61,A71,4,A94,A101,...,A123,28,A143,A152,2,A174,1,A191,A201,2

Creo los dataset con los atributos:

In [19]:
ds1 = Datos("tic-tac-toe.csv")
ds2 = Datos("german.csv")

     TLeftSq  TMidSq  TRightSq  MLeftSq  MMidSq  MRightSq  BLeftSq  BMidSq  \
0          3       3         3        3       2         2        3       2
1          3       3         3        3       2         2        2       3
2          3       3         3        3       2         2        2       2
3          3       3         3        3       2         2        2       1
4          3       3         3        3       2         2        1       2
..       ...     ...       ...      ...     ...       ...      ...     ...
953        2       3         3        3       2         2        2       3
954        2       3         2        3       3         2        3       2
955        2       3         2        3       2         3        3       2
956        2       3         2        2       3         3        3       2
957        2       2         3        3       3         2        2       3

     BRightSq  Class
0           2      2
1           2      2
2           3      2
3           1      2
4           1      2
..        ...    ...
953         3      1
954         3      1
955         3      1
956         3      1
957         3      1

[958 rows x 10 columns]
     Atr1 Atr2  Atr3  Atr4  Atr5  Atr6  Atr7 Atr8  Atr9  Atr10  ... Atr12  \
0       1    6     5     5  1169     5     5    4     3      1  ...     1
1       2   48     3     5  5951     1     3    2     2      1  ...     1
2       4   12     5     8  2096     1     4    2     3      1  ...     1
3       1   42     3     4  7882     1     4    2     3      3  ...     2
4       1   24     4     1  4870     1     3    3     3      1  ...     4
..    ...  ...   ...   ...   ...   ...   ...  ...   ...    ...  ...   ...
995     4   12     3     4  1736     1     4    3     2      1  ...     1
996     1   30     3     2  3857     1     3    4     1      1  ...     2
997     4   12     3     5   804     1     5    4     3      1  ...     3
998     1   45     3     5  1845     1     3    4     3      1  ...     4
999     2   45     5     2  4576     2     1    3     3      1  ...     3

     Atr13 Atr14  Atr15  Atr16 Atr17  Atr18 Atr19  Atr20  Class
0       67     3      2      2     3      1     2      1      1
1       22     3      2      1     3      1     1      1      2
2       49     3      2      1     2      2     1      1      1
3       45     3      3      1     3      2     1      1      1
4       53     3      3      2     3      2     1      1      2
..     ...   ...    ...    ...   ...    ...   ...    ...    ...
995     31     3      2      1     2      1     1      1      1
996     40     3      2      1     4      1     2      1      1
997     38     3      2      1     3      1     1      1      1
998     23     3      3      1     3      1     2      1      2
999     27     3      2      1     3      1     1      1      1

[1000 rows x 21 columns]

# __Prueba nominalAtributos__

Con tic-tac-toe

In [20]:
print("Dataset tic-tac-toe")
ds1.nominalAtributos

Dataset tic-tac-toe

[True, True, True, True, True, True, True, True, True, True]

Con german

In [21]:
print("Dataset german")
ds2.nominalAtributos

Dataset german

[True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False]

# __Prueba datos__

Con tic-tac-toe

In [22]:
print("Dataset tic-tac-toe")
ds1.datos

Dataset tic-tac-toe

,TLeftSq,TMidSq,TRightSq,MLeftSq,MMidSq,MRightSq,BLeftSq,BMidSq,BRightSq,Class
0,3,3,3,3,2,2,3,2,2,2
1,3,3,3,3,2,2,2,3,2,2
2,3,3,3,3,2,2,2,2,3,2
3,3,3,3,3,2,2,2,1,1,2
4,3,3,3,3,2,2,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...
953,2,3,3,3,2,2,2,3,3,1
954,2,3,2,3,3,2,3,2,3,1
955,2,3,2,3,2,3,3,2,3,1
956,2,3,2,2,3,3,3,2,3,1
957,2,2,3,3,3,2,2,3,3,1

Con german

In [23]:
print("Dataset german")
ds2.datos

Dataset german

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr12,Atr13,Atr14,Atr15,Atr16,Atr17,Atr18,Atr19,Atr20,Class
0,1,6,5,5,1169,5,5,4,3,1,...,1,67,3,2,2,3,1,2,1,1
1,2,48,3,5,5951,1,3,2,2,1,...,1,22,3,2,1,3,1,1,1,2
2,4,12,5,8,2096,1,4,2,3,1,...,1,49,3,2,1,2,2,1,1,1
3,1,42,3,4,7882,1,4,2,3,3,...,2,45,3,3,1,3,2,1,1,1
4,1,24,4,1,4870,1,3,3,3,1,...,4,53,3,3,2,3,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4,12,3,4,1736,1,4,3,2,1,...,1,31,3,2,1,2,1,1,1,1
996,1,30,3,2,3857,1,3,4,1,1,...,2,40,3,2,1,4,1,2,1,1
997,4,12,3,5,804,1,5,4,3,1,...,3,38,3,2,1,3,1,1,1,1
998,1,45,3,5,1845,1,3,4,3,1,...,4,23,3,3,1,3,1,2,1,2
999,2,45,5,2,4576,2,1,3,3,1,...,3,27,3,2,1,3,1,1,1,1

# __Prueba diccionario__

Con tic-tac-toe

In [24]:
print("Dataset tic-tac-toe")
ds1.diccionario['TLeftSq']

Dataset tic-tac-toe

{'b': 1, 'o': 2, 'x': 3}

Con german

In [29]:
print("Dataset german")
ds2.diccionario['Atr1']

Dataset german

{'A11': 1, 'A12': 2, 'A13': 3, 'A14': 4}

# __Prueba Estrategia Particionado Validación Simple__

In [30]:
import numpy as np
import EstrategiaParticionadoTemplate as EstrategiaParticionado

datos = np.random.random((10, 2))

# Asignamos el 30% al test
vc = EstrategiaParticionado.ValidacionSimple(30, 3)
vc.creaParticiones(datos)

for i in range(3):
    print("\n\n")
    print("***Test***:", vc.particiones[i].indicesTest, "\n")
    print("***Train***:", vc.particiones[i].indicesTrain, "\n")

***Test***: [9, 2, 7]

***Train***: [8, 0, 1, 6, 3, 5, 4]




***Test***: [7, 3, 2]

***Train***: [1, 5, 9, 0, 8, 4, 6]




***Test***: [7, 1, 6]

***Train***: [8, 3, 2, 0, 5, 9, 4]

# __Prueba Estrategia Particionado Validación Cruzada__

In [31]:
import numpy as np
import EstrategiaParticionadoTemplate as EstrategiaParticionado

datos = np.random.random((8, 2)) 

vc = EstrategiaParticionado.ValidacionCruzada(4)
vc.creaParticiones(datos)
      
for i in range(4):
    print("\n\n")
    print("***Test***:", vc.particiones[i].indicesTest, "\n")
    print("***Train***:", vc.particiones[i].indicesTrain, "\n")

***Test***: [3, 5]

***Train***: [2, 7, 1, 0, 6, 4]




***Test***: [2, 7]

***Train***: [3, 5, 1, 0, 6, 4]




***Test***: [1, 0]

***Train***: [3, 5, 2, 7, 6, 4]




***Test***: [6, 4]

***Train***: [3, 5, 2, 7, 1, 0]