# __Fundamentos de Aprendizaje Automático__
## Práctica 0: _Tratamiento de datos, particionamiento y diseño preliminar de la aplicación_
### Grupo 1461
#### Pareja : Rubén Torralba Manso y Alejandro Monterrubio Navarro

##### ___Importamos lo necesario:___

In [21]:
import pandas as pd
import numpy as np
import Datos
import EstrategiaParticionado
from Datos import Datos

### Memoria en jupyter para corregir los apartados de esta práctica

# __Clase Datos__

Se pide crear la clase Datos con los atributos:
* __nominalAtributos__: Indican si una columna es nominal.
* __datos__: Array en forma de matriz en el que guardamos los datos usando pandas.
* __diccionarios__: Diccionario que se ocupa de traducir los datos a números.

Definimos los nombres de los archivos a leer:

In [22]:
d1 = pd.read_csv("ConjuntoDatos/tic-tac-toe.csv")
d2 = pd.read_csv("ConjuntoDatos/german.csv")

Cargamos el dataframe 1, es decir, tic-tac-toe.csv (10 primeros datos):

In [23]:
d1.head(10)

,TLeftSq,TMidSq,TRightSq,MLeftSq,MMidSq,MRightSq,BLeftSq,BMidSq,BRightSq,Class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive
5,x,x,x,x,o,o,b,b,o,positive
6,x,x,x,x,o,b,o,o,b,positive
7,x,x,x,x,o,b,o,b,o,positive
8,x,x,x,x,o,b,b,o,o,positive
9,x,x,x,x,b,o,o,o,b,positive

Cargamos el dataframe 2, es decir, german.csv (10 primeros datos):

In [24]:
d2.head(10)

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr12,Atr13,Atr14,Atr15,Atr16,Atr17,Atr18,Atr19,Atr20,Class
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
5,A14,36,A32,A46,9055,A65,A73,2,A93,A101,...,A124,35,A143,A153,1,A172,2,A192,A201,1
6,A14,24,A32,A42,2835,A63,A75,3,A93,A101,...,A122,53,A143,A152,1,A173,1,A191,A201,1
7,A12,36,A32,A41,6948,A61,A73,2,A93,A101,...,A123,35,A143,A151,1,A174,1,A192,A201,1
8,A14,12,A32,A43,3059,A64,A74,2,A91,A101,...,A121,61,A143,A152,1,A172,1,A191,A201,1
9,A12,30,A34,A40,5234,A61,A71,4,A94,A101,...,A123,28,A143,A152,2,A174,1,A191,A201,2

Creo los dataset con los atributos:

In [25]:
ds1 = Datos("ConjuntoDatos/tic-tac-toe.csv")
ds2 = Datos("ConjuntoDatos/german.csv")

# __Atributo: nominalAtributos__

Para obtener la lista, se utiliza nominalAtributos. El cual recibe vakires de los argumentos y los clasifica como true o false.

Prueba con tic-tac-toe:

In [26]:
print("Imprime el dataset de tic-tac-toe")
ds1.nominalAtributos

Imprime el dataset de tic-tac-toe

[]

Prueba con german:

In [27]:
print("Imprime el dataset de german")
ds2.nominalAtributos

Imprime el dataset de german

[]

# __Atributo: datos__

Se para cargar la matriz a partir del dataframe

Prueba con tic-tac-toe:

In [28]:
print("Imprime el dataset de tic-tac-toe")
ds1.datos

Imprime el dataset de tic-tac-toe

AttributeError: 'Datos' object has no attribute 'datos'

Prueba con german:

In [29]:
print("Imprime el dataset de german")
ds2.datos

Imprime el dataset de german

AttributeError: 'Datos' object has no attribute 'datos'

# __Atributo: diccionario__

Aquí se utiliza el método getDict para obtener el diccionario.

Prueba con tic-tac-toe:

In [30]:
print("Imprime el dataset de tic-tac-toe")
ds1.diccionario['TLeftSq']

Imprime el dataset de tic-tac-toe

AttributeError: 'Datos' object has no attribute 'diccionario'

Prueba con german:

In [31]:
print("Imprime el dataset de german:")
ds2.diccionario['Atr1']

Imprime el dataset de german:

AttributeError: 'Datos' object has no attribute 'diccionario'

# __Particionamiento: Tratamiento de datos__

Tenemos que completar una clase abstracta que tiene una estrategia de particionado, y con esta tenemos que crear dos clases más que son estrategias de particionado más definidas (Validacion Simple y Validación Cruzada). Para completar Estrategia Particionado solo hace falta completar el constructor.

## __Validación simple__

Tiene un funcionamiento muy básico, parte la tabla en 2 partes, una la utiliza para el Test y la otra va para el Train. La clase recibe dos arguemntos, el primero es pTest que representa el porcentaje que va para el test y el otro es nEjec, que representa el número de ejecuciones que se van a realizar. También creo que método creaParticiones que calcula longitud del test y datos y con ella crea una lista con los valores de los índices de los datos.

Prueba de ValidacionSimple y creaParticiones:

In [33]:
import numpy as np
import EstrategiaParticionado

datos = np.random.random((10, 2))

# Asignamos el 30% al test
vc = EstrategiaParticionado.ValidacionSimple(30, 3)
vc.creaParticiones(datos)

for i in range(3):
    print("\n\n")
    print("***Test***:", vc.particiones[i].indicesTest, "\n")
    print("***Train***:", vc.particiones[i].indicesTrain, "\n")

***Test***: [2, 7, 0]

***Train***: [3, 9, 4, 1, 6, 5, 8]




***Test***: [2, 9, 5]

***Train***: [1, 4, 0, 3, 7, 6, 8]




***Test***: [2, 9, 5]

***Train***: [1, 7, 0, 6, 8, 4, 3]

Prueba ValidaciónSimple con tic-tac-toe:

In [34]:
import numpy as np
import EstrategiaParticionado

vc = EstrategiaParticionado.ValidacionSimple(10, 5) 
vc.creaParticiones(ds1.datos)

for i in range(5):
    print("\n\n")
    print("***Test***:", vc.particiones[i].indicesTest, "\n")
    print("***Train***:", vc.particiones[i].indicesTrain, "\n")

AttributeError: 'Datos' object has no attribute 'datos'

## __Validación Cruzada__

Aquí se dividen los datos en un X número de ella, se utilizan las X partes para el Test y el resto para Train. Los argumentos son el X número de partes en las que se dividen los datos. Para el método creaParticiones ahora se añade la lista y se van comparando en bucle las porciones con los elementos (Dibujo de enunciado de la práctica).

Prueba ValidaciónCruzada y creaParticiones:

In [36]:
import numpy as np
import EstrategiaParticionado

datos = np.random.random((8, 2)) 

vc = EstrategiaParticionado.ValidacionCruzada(4)
vc.creaParticiones(datos)
      
for i in range(4):
    print("\n\n")
    print("***Test***:", vc.particiones[i].indicesTest, "\n")
    print("***Train***:", vc.particiones[i].indicesTrain, "\n")

***Test***: [1, 2]

***Train***: [5, 7, 3, 4, 0, 6]




***Test***: [5, 7]

***Train***: [1, 2, 3, 4, 0, 6]




***Test***: [3, 4]

***Train***: [1, 2, 5, 7, 0, 6]




***Test***: [0, 6]

***Train***: [1, 2, 5, 7, 3, 4]

Prueba con tic-tac-toe:

In [37]:
import numpy as np
import EstrategiaParticionado

vc = EstrategiaParticionado.ValidacionCruzada(10) 
vc.creaParticiones(ds1.datos)

for i in range(10):
    print("\n\n")
    print("***Test***:", vc.particiones[i].indicesTest, "\n")
    print("***Train***:", vc.particiones[i].indicesTrain, "\n")

AttributeError: 'Datos' object has no attribute 'datos'

# __Diseño Básico de la Aplicación__

## __Método: error__

Este método sirve para entrenar el módelo y comprobar el error que se produce, su funcionamiento es que comprueba si la predicción del modelo enviada por los argumentos coincide o no comparando con el elemento de la fila de los datos dados.